.nml-5 {
  left: -80px;
}

.bg-cool {
    background: rgb(12,13,11);
    background: linear-gradient(0deg, rgba(12,13,11,0.6558998599439776) 0%, rgba(12,13,11,0.896796218487395) 31%);
  /* background: rgb(53,56,49); */
  /* background: linear-gradient(0deg, rgba(53,56,49,0.49343487394957986) 0%, rgba(85,1,1,0.896796218487395) 31%); */

}

.bg-icool {
    background: rgb(12,13,11);
    background: linear-gradient(180deg, rgba(12,13,11,0.6558998599439776) 0%, rgba(12,13,11,0.896796218487395) 31%);
  /* background: rgb(53,56,49); */
  /* background: linear-gradient(0deg, rgba(53,56,49,0.49343487394957986) 0%, rgba(85,1,1,0.896796218487395) 31%); */

}

